@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';

#currentInterval {
    border: 0.1em solid black;
}

span.imminent {
    color: red;
}

#intervals {
    border: 0.1em solid black;
}

#intervals li.past {
    text-decoration: line-through;
}

#intervals li.present {
    font-weight: bold;
}

  input:invalid {
    border: 0.1em solid red;
  }

button,
form input[type=button],
form input[type=submit] {
    border: 0;
    border-radius: 0.25rem;
    background: lightgray;
    /* font-family: system-ui, sans-serif; */
    font-size: 1em;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    cursor: pointer;
}

button:hover,
button:focus,
form input[type=button]:hover,
form input[type=submit]:hover,
form input[type=button]:focus,
form input[type=submit]:focus  {
    background: rgb(156, 156, 156);
}

button:focus,
form input[type=submit]:focus,
form input[type=button]:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active,
form input[type=submit]:active,
form input[type=button]:active {
    transform: scale(0.99);
}