.navList {
    @apply flex border-b-2 mb-6 py-4;
}

.navItem {
    @apply flex text-lg font-semibold;
}
.navItem.current {
    @apply text-green-700;
}

.navLink {
    @apply underline text-green-600;
}
.navLink:hover {
    @apply text-green-700;
}
.navLink:active {
    @apply text-green-700;
}

.navChevron {
    @apply fill-current text-gray-400;
}