#intervals {
    @apply p-2 my-4;
}

#intervals li {
    @apply p-2 my-2 rounded-sm;
}

#intervals li.past {
    @apply bg-gray-300 my-2 mx-4 line-through italic;
}

#intervals li.present {
    @apply bg-blue-200 font-semibold border border-blue-400;
}

#intervals li.future {
    @apply bg-gray-200 my-2 mx-4 italic;
}
